Source: qtmium
Section: graphics
Priority: optional
Maintainer: Henning Meyer <hmeyer@gmx.eu>
Build-Depends: debhelper (>= 7), pyqt4-dev-tools
Build-Depends-Indep: python-support (>= 0.6)
Standards-Version: 3.9.2
Homepage: https://hmeyer.github.com/qtmium

Package: qtmium
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-qt4, python, python-occ, python-qt4,
	python-restrictedpython, python-qscintilla2, python-fontforge
Description: Python programming environment for Solid Modelling
 qtmium is a tool, inspired by OpenSCAD built
 on top of PythonOCC and OCE, to give simple
 programming interface to create solid models.
